@import "./variables";
.dashboard-main-container {
    width: 100%;
    height: max-content;
    overflow-y: auto;
    background-color: $primary;
    .dashboard-container {
        width: 100%;
        height: max-content;
        box-sizing: border-box;
        padding: 20px 40px 0px 40px;
        background-color: $primary;

        h1 {
            width: 100%;
            border-bottom-width: 2px;
            font-family: "Montserrat-Bold";
            font-size: 22px;
            color: #636363;
            box-sizing: border-box;
            padding: 20px 16px 2px 16px;
            border-color: #838383;
            margin-top: 30px;
            margin-bottom: 20px;
        }

        .dashboard-updates {
            width: 100%;
            height: max-content;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .dashboard-schedules,
            .dashboard-calendar {
                width: 49%;
                height: 400px;
                background-color: #f3f3f3;
                border-radius: 10px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }

        .dashboard-services {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            li {
                width: 23%;
                height: 110px;
                border-radius: 6px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                box-sizing: border-box;
                padding: 20px 30px;

                .service-icon{
                    width: 20%;
                    margin-right: 14px;
                    display: flex;
                    align-items: center;
                }

                :nth-child(2){
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-family: "Metropolis-Black";
                    font-size: 20px;
                    line-height: 1.1;
                    strong{
                        font-size: 28px;
                    }
                }
            }

            .service-1 {
                background-color: #ed6464;
                :nth-child(2){
                   color: #fbcece;
                }
            }
            .service-2 {
                background-color: #00b4cc;
                :nth-child(2){
                   color: #bdf1f7;
                }
            }
            .service-3 {
                background-color: #cc883a;
                :nth-child(2){
                    color: #ead4bb;
                 }
            }
            .service-4 {
                background-color: #a14016;
            }
        }

        .dashboard-movements {
            display: flex;
            width: 100%;
            height: max-content;
            align-items: center;
            justify-content: space-between;
            .dashboard-records,
            .dashboard-notifications {
                height: 400px;
                background-color: #f3f3f3;
                border-radius: 10px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }

            .dashboard-records {
                width: 58%;
            }
            .dashboard-notifications {
                width: 40%;
            }
        }

        .alguma-coisa {
            width: 100%;
            height: 300px;
            background-color: $secondary;
            border-radius: 10px;
            margin-bottom: 50px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }

    .dashboard-footer {
        width: 100%;
        height: 220px;
        background-color: $dark;
        display: flex;
        align-items: center;
        padding: 0px 30px;

        .dashboard-footer-logo{
            width: max-content;
            height: max-content;
            display: flex;
            flex-direction: column;
            align-items: center;

            :nth-child(1){
                width: 240px;
            }

            :nth-child(2){
                font-family: "Futura-Medium";
                font-size: 13px;
                color: #fff;
        
            }
        }
    }
}
