@import "./variables";

.dashboard-container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px 40px 20px 40px;
    background-color: $primary;
    overflow-y: auto;

    h1 {
        width: 100%;
        border-bottom-width: 2px;
        font-family: "Montserrat-Bold";
        font-size: 22px;
        color: #636363;
        box-sizing: border-box;
        padding: 20px 16px 2px 16px;
        border-color: #838383;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .dashboard-updates {
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .dashboard-schedules,
        .dashboard-calendar {
            width: 49%;
            height: 400px;
            background-color: #f3f3f3;
            border-radius: 10px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }

    .dashboard-services {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        li {
            width: 23%;
            height: 130px;
            border-radius: 6px;
        }

        .service-1 {
            background-color: #ed6464;
        }
        .service-2 {
            background-color: #00b4cc;
        }
        .service-3 {
            background-color: #cc883a;
        }
        .service-4 {
            background-color: #a14016;
        }
    }

    .dashboard-movements {
        display: flex;
        width: 100%;
        height: max-content;
        align-items: center;
        justify-content: space-between;
        .dashboard-records,
        .dashboard-notifications {
            height: 400px;
            background-color: #f3f3f3;
            border-radius: 10px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

        .dashboard-records {
            width: 58%;
        }
        .dashboard-notifications {
            width: 40%;
        }
    }
}
